/* change these */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: rgb(42, 49, 102);
  --link-color: rgb(191, 31, 31);
  /*(244, 171, 170)*/
  /*--link-hover-color: rgb(238, 120, 121);
  /*rgb(202, 231, 223);
  --color-4: rgb(242, 188, 27);*/

  --primary-font: 'Open Sans', 'Roboto', sans-serif;
  --secondary-font: 'Open Sans', 'Roboto', sans-serif;
  --main-text-color: #000;
  --white-space: 1rem;
}

button {
  transition: all 3s;
}

a {
  transition: all 3s;
}

button:hover {
  background-color: transparent;
  color: var(--link-color);
  border: 2px solid var(--link-color);
}

button:active {
  background-color: var(--link-color);
  border: solid 2px var(--link-color);
  color: #fff;
}

a:hover {
  color: var(--link-color);
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: #fff;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: bold;
  color: #fff;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: #fff;
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: rgb(59, 59, 59);
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 0.7rem 2rem;
  border-radius: 50px;
  background: var(--bg-color);
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  border: 2px solid var(--bg-color);
}

.secondary-button {
  background: transparent;
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 600;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--bg-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}